/*============================================================================
#Mixin
==============================================================================*/
/*============================================================================
#Typography variables
==============================================================================*/
/*============================================================================
#Variable
==============================================================================*/
/*============================================================================
#Function
==============================================================================*/
.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute {
  right: 20px;
  top: 45px; }
  .icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .icon.relative .fa {
    font-size: 24px; }
  .icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .cartCount {
    right: -20px;
    background: #fe9705; }

.menu-bar.hidden-md.hidden-lg {
  top: 52px; }
